body {
    padding-top: 45px;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
}

header, secction, article {
    margin-top: 10px;
    margin-bottom: 10px;
}
#title {
    font-style:italic;
    font-weight:400;
    margin-left:10px;
}

.pull-right {
    margin-top: -50px;
}

nav {
    padding-bottom: 10px;
}


